@page "/"

<h1>GEOS URL Shortener</h1>

<div>
    <p>
    Welcome to the <b><a href="https://www.engineeringtechnologists.com" target="_blank">GEOS URL Shortener Service</a></b>
    </p>

    <div>
    <p>This service provides URL shortening capabilities for authorized members of the Global Engineering Outreach Specalists team.</p>
    
    <p>If you are a member of this team and unable to authenticate with your corporate credentials, please contact GEOS management to request access.</p>
    </div>

</div>


